=render '/layouts/flash'

=render '/layouts/side_bar'

.main
  .chat-group
    .chat-group-top.clearfix
      .chat-group-top__name
        %p 窓際族
      .chat-group-top__edit
        %a Edit
    .chat-group-bottom
      %p.chat-group-bottom__members MEMBER: タイゾー
  .chat-main
    .chat-box
      .message
        %p.message__user タイゾー
        %p.message__time 3/14 10:00:02
        %p.message__content 追い込み部屋なう
        %image.message__image{src: 'http://stat.profile.ameba.jp/profile_images/20120410/20/e3/56/j/o032002401334057324966.jpg'}
      .message
        %p.message__user タイゾー
        %p.message__time 3/14 10:00:02
        %p.message__content 追い込み部屋なう
        %image.message__image{src: 'http://stat.profile.ameba.jp/profile_images/20120410/20/e3/56/j/o032002401334057324966.jpg'}
      .message
        %p.message__user タイゾー
        %p.message__time 3/14 10:00:02
        %p.message__content 追い込み部屋なう
        %image.message__image{src: 'http://stat.profile.ameba.jp/profile_images/20120410/20/e3/56/j/o032002401334057324966.jpg'}
    .post-box
      %form
        .post-box__input
          %input.post-box__input__text{type: 'text', name: 'content'}
          %label.post-box__input__file
            %input{type: 'file', name: 'file', style: 'display:none'}
            %i.fa.fa-picture-o
        %input.post-box__send{type: 'submit', value: 'SEND'}
